<form action="/action_page.php">
    <div class="row">
        <label class="labelcol" for="mnaem">Movie Name</label>
        <input class="inputcol" type="text" id="mname" name="moviename" placeholder="Movie name">
    </div>
    <div class="row">
        <label class="labelcol" for="duration">Duration</label>
        <input class="inputcol" type="date" id="duration" name="duration" placeholder="Duration">
    </div>
    <div class="row">
        <label class="labelcol" for="released">Release Date</label>
        <input class="inputcol" type="text" id="released" name="released" placeholder="Your name..">
    </div>
</form>